
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h2>Create</h2>
<form action="/Products/Create" method="post">
    <div class="form-group">
        <label>Product ID</label>
        <input type="text" class="form-control" id="ProductId" placeholder="Product ID" name="ProductId"/>
    </div>
    <div class="form-group">
        <label>Product Name</label>
        <input type="text" class="form-control" id="ProductName" placeholder="Product Name"name="ProductName" />
    </div>
    <div class="form-group">
        <label>Rate</label>
        <input type="text" class="form-control" id="Rate" placeholder="Rate" name="Rate"/>
    </div>
    <button>Submit</button>
</form>