
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<form  action="/products/create" method="delete">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="ProductName" class="mr-1">Product Name:</label>
            <input type="text" class="form-control mr-1" name="ProductName" placeholder="Product Name" />
            <label for="Price" class="mr-1">Price:</label>
            <input type="text" class="form-control mr-1" name="Price" placeholder="Price" />
        </div>
        <div class="form-group col-md-4">
            <label for="DateOfPurchase" class="mr-1">Date of Purchase:</label>
            <input type="date" class="form-control mr-1" name="DateOfPurchase" />
            <label for="AvailabilityStatus" class="mr-1">Availability:</label>
            <input type="text" class="form-control mr-1" name="AvailabilityStatus" placeholder="Availability Status" />
        </div>
        <div class="form-group col-md-4">
            <label for="CategoryID" class="mr-1">Category ID:</label>
            <input type="text" class="form-control mr-1" name="CategoryID" placeholder="CategoryId" />
            <label for="BrandID" class="mr-1">Brand ID:</label>
            <input type="text" class="form-control mr-1" name="BrandID" placeholder="Brand" />


        </div>
        <div class="form-group col-md-6">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Active" name="Active" value="true" />
                <label class="form-check-label" for=" Active">Active</label>
            </div>
            
        </div>
    </div>
    <button type="submit" class="btn btn-outline-info">Create Product</button>
</form>

