@model UdemyMVC5UltimateGuide.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
<h2>@Model.ProductId</h2>
<h3>@Model.ProductName</h3>
<h3>@Model.Rate </h3>