@model List<UdemyMVC5UltimateGuide.Models.Product>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="card-group">
    @foreach (var item in Model)
    {
        Html.RenderAction("DisplaySingleProduct", "Products", new { p = item });
    }
</div>