@model List<UdemyMVC5UltimateGuide.Models.Brand>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage1.cshtml";
}

<h2>Brands</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>


        </tr>
    </thead>
    <tbody>
        @{ foreach (var brand in Model)
            {
                <tr>
                    <td><a href="/admin/Brand/Details/@brand.BrandID">@brand.BrandID</a></td>
                    <td>@brand.BrandName</td>
                </tr>
            }
        }

    </tbody>
</table>
