@model List<Company.DomainModels.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage1.cshtml";
}

<h2>Categories</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            

        </tr>
    </thead>
    <tbody>
        @{ foreach (var category in Model)
            {
                <tr>
                    <td><a href="/admin/Category/Details/@category.CategoryID">@category.CategoryID</a></td>
                    <td>@category.CategoryName</td>
                    
                </tr>
            }
        }

    </tbody>
</table>
