
@{
    ViewBag.Title = "About";
    
}

<h2>About</h2>

@section SideBarOptions
{
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Contact Admin</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Contact Tech</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Contact Support</a>
}