
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_PartialPage1.cshtml";
}
<!DOCTYPE html>

<h2>Contact us!</h2>
@section SideBarOptions
{
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Admin Home</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Agent Home</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Customer Home</a>
}