
@{
    ViewBag.Title = "Home";
   
}


    <div class="container-fluid">
        <div class="jumbotron">
            <h1>ASP.NET MVC Ultimate Guide</h1>
            <p>created by Chris Wood, instructor Harsha Vardhan</p>
        </div>
        <h1>welcome</h1>
    </div>
@section SideBarOptions
{
    <a href="#" class="list-group-item text-white" style="background-color:transparent" >Admin Home</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent" >Agent Home</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent" >Customer Home</a>
    }