
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_PartialPage1.cshtml";
}


    <div class="container-fluid">
        <div class="jumbotron">
            <h1>ASP.NET MVC Ultimate Guide</h1>
            <p>created by Chris Wood, instructor Harsha Vardhan</p>
        </div>
        <h1>welcome</h1>
    </div>
