
@{
    ViewBag.Title = "Home";
   
}


    <div class="container-fluid">
        <div class="jumbotron">
            <h1>ASP.NET MVC Ultimate Guide</h1>
            <p>created by Chris Wood, instructor Harsha Vardhan</p>
        </div>
        <h1>welcome</h1>
        <h3> there have been @ViewBag.NoOfVisitors today!</h3>
    </div>
